.header{
    /* border: 1px solid rgb(22, 28, 205); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid;
}

.header > form{
    width: 40%;
}

.task-input{
    font-size: 20px;
    font-weight: 500;
    background-color: #8c35dd;
    color: #87ebe1;
    border: 2px solid #aa0867;
    border-radius: 5px;
    padding: 8px 12px;
    margin-bottom: 15px;
    width: 100%;
}
.task-input::placeholder{
    color: antiquewhite;
}

.form-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.task-status{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: 0 5px;
}
.task-submit{
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(45, 179, 27);
    color: azure;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}